
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>registration</title>
</head>

<body>
  <div class="container">
    <header>
      <!-- <img src="assets/logo.png" alt="Logo" class="logo"> -->
      <h1 class="app-name">Trivago</h1>
      <p class="slogan">Where comfort meets convenience</p>
    </header>
    <div class="content">
      <div class="left-half">
        <form class="login-form" [formGroup] = "itemForm" (ngSubmit) = "onSubmit()">
            <h2>Login form</h2>
            <div class="mb-1">
                <label for="userName" class="fw-bold form-label">Username</label>
                <input type="text" id="userName" formControlName="userName" class="form-control" placeholder="Enter username"/>
                <span *ngIf="this.itemForm.get('userName')?.hasError('required') && this.itemForm.get('userName')?.touched" class="text-danger">
                    Username is required
                </span>
                <span *ngIf="this.itemForm.get('userName')?.hasError('invalidUsername')" class="text-danger">
                  Username should not contain spaces
                </span>
            </div>
            <div class="mb-1">
                <label for="password" class="fw-bold form-label">Password</label>
                <input type="password" id="password" formControlName="password" class="form-control" placeholder="Enter password"/>
                <span *ngIf="this.itemForm.get('password')?.hasError('required') && this.itemForm.get('password')?.touched" class="text-danger">
                    Password is required
                </span>
                <span *ngIf="this.itemForm.get('password')?.hasError('invalidPassword') && !this.itemForm.get('password')?.hasError('required') && this.itemForm.get('password')?.touched" class="text-danger">
                  Password is invalid
                </span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <p>New to Trivago? <a [routerLink] = "['/register']">Sign up</a></p>
            <p><a [routerLink] = "['/forgot-password']">Forgot password?</a></p>
            <ng-container *ngIf="showMsg">
                <div *ngIf="this.successMsg$ | async as success" class="alert alert-success">
                    {{success}}
                </div>
                <div *ngIf="this.errorMsg$ | async as error" class="alert alert-danger">
                    {{error}}
                </div>
            </ng-container>
        </form>
       
      </div>


      <div class="right-half">
        <img src="assets/hotelRegistration.jpg" alt="Image" class="image">
      </div>
    </div>
  </div>
</body>

</html>

